.farmClass{
    /* width:150%; */
    height:150%;
    margin:100px;
    display: flex;
    justify-content: center;
}

.farmClass > div{
    margin-left: 20px;
    margin-right: 20px;
    height:400px;

}

h1.sc-gsTCUz.sc-hHftDr.emRGAZ.gHwwEX{
    color:rgb(62,61,67);
}

h2.sc-gsTCUz.sc-hHftDr.TrMyr.cGYJIp{
    color:rgb(62,61,67);
}

.iOhpPi{
    background-color: rgb(62,61,67);
}

.hgOFLG, .nluDm, .TrMyr, .fgiAxh{
    color: rgb(62,61,67);
}

.sc-eCssSg.sc-jSgupP.jnvqfy.fvYwlu{
    display:none;
}